<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.test5.classMapper">

	<!--根据id查询到一个班级信息（带老师信息） -->


	<!-- 嵌套结果 -->
	<select id="getClass" parameterType="int" resultMap="ClassResultMap">
		select *
		from class c, teacher t where c.teacher_id=t.t_id and c.c_id=#{id}
	</select>
	<resultMap type="mybatis.bean.Class" id="ClassResultMap">
		<id property="id" column="c_id" />
		<result property="name" column="c_name" />
		<association property="teacher" column="teacher_id"
			javaType="mybatis.bean.Teacher">
			<id property="id" column="t_id" />
			<result property="name" column="t_name" />
		</association>
	</resultMap>


	<!--嵌套查询  -->
	<select id="getClass2" parameterType="int" resultMap="ClassResultMap2">
		select * from class where c_id=#{id}
	</select>
	<resultMap type="mybatis.bean.Class" id="ClassResultMap2">
		<id property="id" column="c_id" />
		<result property="name" column="c_name" />
		<association property="teacher" column="teacher_id" javaType="mybatis.bean.Teacher" select="getTeacher">
		</association>
	</resultMap>
	<select id="getTeacher" parameterType="int" resultType="mybatis.bean.Teacher">
		SELECT t_id id, t_name name FROM teacher WHERE t_id=#{id}
	</select>

</mapper>
